@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    background-color: #dedede;
    width: 40%;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    flex-direction: column;
    gap: 0.7rem;
}

.header{
    display: flex;
    justify-content: center;
}

.header > h1{
    font-size: 3rem;
    font-family: "Poppins";
    text-align: center;
}

.input-box{
    position: relative;
    width: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap:10px
}

.input-box > input{
    width: 90%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
}

button{
    /* width: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box > button{
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 100%;
}

#message{
    font-weight: bold;
    display: none;
} 

.generate-and-copy-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;

}

.generate > button{
    padding: 0.5rem 0.5rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.7rem;
}

.copy > button{
    padding: 0.5rem 0.5rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.7rem;
}